<div class="container my-4 p-4 bg-white rounded shadow" data-controller="cash-close">
  <h1 class="text-center mb-4">Nuevo Cierre de Caja</h1>
  <% if @cash_close.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(@cash_close.errors.count, "error impide", "errores impiden") %> que impide guardar el cierre:</h4>
        <ul>
          <% @cash_close.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="mb-4">
    <% ["efectivo", "tarjeta", "transferencia"].each do |payment_type| %>
      <% sells = @unclosed_sells[payment_type] || [] %>
      <% next if sells.empty? %>
      <div class="mb-3">
        <table class="table table-cierre-caja table-striped table-hover table-bordered mt-2">
          <thead class="table-dark">
            <tr>
              <th style="width: 20%">Fecha Venta</th>
              <th style="width: 60%">Menú y Agregados</th>
              <th style="width: 20%">Total Venta</th>
            </tr>
          </thead>
          <tbody>
            <% sells.each do |sell| %>
              <tr>
                <td data-label="Fecha Venta"><%= sell.created_at.strftime('%d/%m/%Y') %></td>
                <td data-label="Menú y Agregados">
                  <%=
                    sell.sell_materials.map do |sm|
                      "Menú #{sm.menu_item.name} - Agregados: #{sm.addons.pluck(:name).join(', ')}"
                    end.join(' | ')
                  %>
                </td>
                <td data-label="Total Venta">$<%= number_to_currency(sell.total, unit: "", delimiter: ".", precision: 0) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2" style="text-align: right"><strong>Método de Pago:</strong> <%= payment_type.capitalize %></td>
              <td><strong>Total:</strong> $<%= number_to_currency(sells.sum(&:total), unit: "", delimiter: ".", precision: 0) %></td>
            </tr>
          </tfoot>
        </table>
      </div>
    <% end %>
  </div>
  <div class="text-center my-4 p-4 bg-light rounded border">
    <table class="table table-resumen-caja table-borderless table-sm">
      <thead>
        <tr>
          <th class="text-center">Método de Pago</th>
          <th class="text-center">Monto Total</th>
          <th class="text-center">Monto en Caja</th>
          <th class="text-center">Diferencia</th>
        </tr>
      </thead>
      <tbody>
        <% ["cash", "card", "transfer"].each do |type| %>
          <% total_value = @cash_close.send("total_#{type}") %>
          <% next if total_value.nil? || total_value == 0 %>
          <tr>
            <td class="text-center fw-bold" data-label="Método de Pago"><%= Sell.translate_type(type) %></td>
            <td class="text-center text-muted" data-label="Monto Total">$<%= number_to_currency(total_value, unit: "", delimiter: ".", precision: 0) %></td>
            <td class="text-center" data-controller="price-formatter" data-label="Monto en Caja">
              <%=
                text_field_tag "observed_#{type}",
                nil,
                value: 0,
                class: "form-control",
                data: {
                  "price-formatter-target": "input",
                  action: "input->cash-close#updateDifference input->price-formatter#formatPrice",
                  payment_type: type
                }
              %>
            </td>
            <td class="text-center" id="difference_<%= type %>" data-label="Diferencia" data-cash-close-target="difference">-</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= form_with(model: @cash_close, local: true) do |form| %>
    <%= form.hidden_field :total_sales, id: "cash_close_total_sales", data: { "cash-close-target": "totalSales" } %>
    <%= form.hidden_field :total_cash, id: "cash_close_total_cash", data: { expected_amount: @cash_close.total_cash } %>
    <%= form.hidden_field :total_card, id: "cash_close_total_card", data: { expected_amount: @cash_close.total_card } %>
    <%= form.hidden_field :total_transfer, id: "cash_close_total_transfer", data: { expected_amount: @cash_close.total_transfer } %>
    <div class="d-flex justify-content-between mt-4">
      <%= link_to "Cancelar", cash_closes_path, class: "btn btn-outline-secondary" %>
      <%= form.submit "Crear Cierre de Caja", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
